.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: visible;
	position: relative;
	.bg {
		width: 100%;
		height: 100%;
		object-fit: fill;
		object-position: center center;
		position: absolute;
		z-index: 0;
	}
}

.title {
	width: 100%;
	min-height: 100px;
	background: url('../../../public/assets/h_bg/broken.webp') no-repeat;
	background-position: center top;
	background-size: cover;
	z-index: 9;
	text-align: center;
	font-size: 2.5rem;
	padding: 0.7em 0;
	text-transform: uppercase;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.123);
	word-wrap: break-word;
	font-family: 'Quantum';
	letter-spacing: 15px;
	display: grid;
	place-content: center;
	@media screen and (min-width: 470px) {
		font-size: 3.3rem;
	}
}

.card_contact {
	z-index: 10;
	width: 70%;
	min-width: 350px;

	margin-bottom: 2.5em;
	background: rgba(84, 69, 216, 0.137);
	border: 1px solid rgba(255, 255, 255, 0.425);
	backdrop-filter: blur(15px);
	border-radius: 30px;

	@media screen and (min-width: 500px) {
		min-width: 480px;
	}
}
.footer {
	color: black;
	display: grid;
	place-content: center;
	font-family: 'Quantum';
	margin: 1em 0;
	z-index: 10;
	span {
		display: inline-block;
		transform: scale(-1, 1);
	}
}
