.container {
	width: 100%;
	height: 13vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2em;

	p {
		font-size: 1rem;
		font-family: 'RussoOne';
		color: navy;
	}
	.links {
		min-width: 300px;
		width: 40%;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		a {
			width: 60px;
			height: 60px;
			background: rgba(0, 0, 255, 0.13);
			backdrop-filter: blur(10px);
			display: grid;
			place-content: center;
			border-radius: 10px;
			box-shadow: 0 0 13px rgba(128, 128, 128, 0.363);
			border: 1px solid rgba(255, 255, 255, 0.096);
			&:hover {
				background: rgba(128, 128, 128, 0.26);
			}
		}
		img {
			height: 30px;
			width: 30px;
		}
	}
}
