.container {
	
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	&:after {
		position: absolute;
		content: '';
		width: 8rem;
		height: 8rem;
		// background: rgba(229, 199, 255, 0.247);
		box-shadow: 0 0 6px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(5px);
		border-radius: 50%;
		border: 1px solid rgba(255, 255, 255, 0.322);
		top: 15%;
		right: 3%;
		z-index: 10;
		@media screen and (min-width: 600px) {
			top: 25%;
			right: 8%;
		}
	}
	&:before {
		position: absolute;
		content: '';
		width: 11rem;
		height: 11rem;
		background: transparent;
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(5px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		bottom: -5%;
		left: 10%;
		z-index: 1;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: fill;
		object-position: center center;
		position: absolute;
	}
}

.title {
	width: 100%;
	min-height: 100px;
	background: url('../../../public/assets/h_bg/blue_ice.webp') no-repeat;
	background-position: center top;
	background-size: cover;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	font-size: 2.5rem;
	padding: 0.3em 0;
	text-transform: uppercase;
	text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.26);
	word-wrap: break-word;
	font-family: 'Quantum';
	letter-spacing: 15px;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	@media screen and (min-width: 470px) {
		font-size: 3.3rem;
	}
}

.content {
	width: 70%;
	height: 60vh;
	min-width: 350px;
	margin: 2rem 0;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.336);

	backdrop-filter: blur(10px) contrast(110%) brightness(110%);
	border-radius: 30px;
	mix-blend-mode: overlay;
	z-index: 9;
	display: grid;
	place-content: center;

	@media screen and (min-width: 500px) {
		height: 75vh;
		min-width: 480px;
		h2 {
			font-size: 3.5rem;
		}
		p {
			font-size: 3rem;
		}
	}

	h2 {
		font-family: 'Iceland';
		text-transform: uppercase;
		text-align: center;
		font-size: 3rem;
		mix-blend-mode: overlay;
		text-shadow: 2px 2px 10px rgb(0, 0, 0),
			-2px -2px 1px rgba(255, 255, 255, 0.473);
		color: gray;
	}
	p {
		font-family: 'Iceland', sans-serif;
		text-transform: uppercase;
		text-align: center;
		font-size: 2.5rem;
		padding: 0.3em 0;
		// margin: 1.5em 0;
		mix-blend-mode: overlay;
		text-shadow: 1px 1px 1px rgb(0, 0, 0),
			-1px -1px 1px rgba(255, 255, 255, 0.473);
		color: gray;
		@media screen and (min-width: 500px) {
			margin: 0;
		}
	}
	.header_buttons {
		display: flex;
		width: 80%;
		justify-self: center;
		justify-content: space-around;
		mix-blend-mode: normal !important;
		margin-top: 30px;
		button {
			border: none;
			background: rgba(255, 255, 255, 0.25);
			backdrop-filter: blur(10px);
			color: black;
			mix-blend-mode: overlay;
			border: 1px solid rgba(255, 255, 255, 0.377);
			padding: 0.4em 0.7em;
			font-size: 1.2rem;
			font-family: 'Iceland', sans-serif;
			border-radius: 5px;
			cursor: pointer;
			display: flex;
			align-items: center;
			&:hover {
				background: navy;
				color: white;
			}
		}
		a {
			text-decoration: none;
			font-family: 'Iceland';

			font-size: 1.2rem;
			padding: 0.4em 0.7em;
			display: flex;
			align-items: center;
			border: 3px solid navy;
			border-radius: 5px;

			&:hover {
				color: white;
				background: navy;
			}
		}
	}
}
