// dark theme

// dark theme main color
$dmc: navy;
// theme secondary color
$dsc: rgb(255, 255, 255);
// hover text color
$dhtc: rgb(160, 160, 255);

.header-dark {
	background: linear-gradient(to top, #000428, #004e92);
	.is-active {
		border: 2px solid rgb(5, 4, 41);
	}
	#scrolling {
		background: $dmc;
	}
	.nav-item {
		&:hover {
			color: $dhtc;
			svg {
				color: $dhtc;
			}
			.nav-link {
				color: $dhtc;
			}
		}
		.nav-link {
			color: $dsc;
		}
		svg {
			color: $dsc;
		}
	}
	.header-text {
		color: white;
	}
	.pop-up {
		margin-top: 100px !important;
		animation: pop-up-dark 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	}
}

@keyframes pop-up-dark {
	0% {
		transform: translateY(0);
		transform-origin: 50% 50%;
		text-shadow: none;
	}
	100% {
		transform: translateY(-50px);
		transform-origin: 50% 50%;
		text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
			0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
			0 50px 30px rgba(0, 0, 0, 0.3);
	}
}

// about+projects section
.main-dark {
	.about-bg {
		background: linear-gradient(to top, #00287e, #4286f4);
		.skills-card {
			ul {
				color: rgb(117, 117, 247);
			}
		}
	}
	.projects-header {
		background: linear-gradient(
			180deg,
			rgba(66, 134, 244, 1) 0%,
			rgba(0, 0, 0, 1) 71%
		);
		.swiper-slide::before {
			background: linear-gradient(to top, black, #00000056) !important;
		}
	}
	.project-container {
		background: linear-gradient(to top, #02193d, rgb(6, 44, 131), #4286f4);
		h3 {
			color: $dsc;
			text-shadow: 0 0 5px rgb(17, 0, 255);
		}
		.description {
			p {
				color: $dhtc;
			}
			strong {
				color: $dsc;
			}
		}
	}
}

.footer-dark {
	background: linear-gradient(to top, rgb(3, 0, 5), #0f0353, #4286f4);
	.contact {
		.form-info {
			color: $dhtc;
		}
		.links-info {
			color: $dhtc;
		}
	}
	.date {
		background: #4286f4;
		color: $dsc;
	}
}
