// dark theme

// light main color
$lmc: cornflowerblue;
// theme secondary color
$lsc: navy;
// hover text color
$lhtc: rgb(0, 0, 0);

.header-light {
	background: linear-gradient(to bottom, #9cecfb, #65c7f7, #0044b3);
	.is-active {
		border: 2px solid #0052d4;
	}
	#scrolling {
		background: $lmc;
	}
	.nav-item {
		&:hover {
			color: $lhtc;
			svg {
				color: $lhtc;
			}
			.nav-link {
				color: $lhtc;
			}
		}
		.nav-link {
			color: $lsc;
		}
		svg {
			color: $lsc;
		}
	}
	.header-text {
		// color: $lhtc ;
		color: navy;
	}
	.pop-up {
		animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	}
}

@keyframes text-pop-up-top {
	0% {
		transform: translateY(0);
		transform-origin: 50% 50%;
		text-shadow: none;
	}
	100% {
		transform: translateY(-50px);
		transform-origin: 50% 50%;
		text-shadow: 0 1px 0 white, 0 2px 0 white, 0 3px 0 white, 0 4px 0 white,
			0 5px 0 white, 0 6px 0 white, 0 7px 0 white, 0 8px 0 white, 0 9px 0 white,
			0 50px 30px rgba(0, 0, 0, 0.3);
	}
}

.main-light {
	.about-bg {
		background: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff);
		.skills-card {
			ul {
				color: rgb(33, 25, 61);
			}
		}
	}
	.projects-header {
		background: linear-gradient(180deg, #fff 10%, rgb(213, 245, 253) 50%);
	}
	.project-container {
		background: linear-gradient(to bottom, #fff, #b2fefa, #0ed2f7);
		h3 {
			color: $lhtc;
			text-shadow: 0 0 2px blue;
		}
		.description {
			p {
				color: $lsc;
			}
			strong {
				color: $lhtc;
			}
		}
	}
}

.footer-light {
	background: linear-gradient(to bottom, #fff, #9cecfb, #65c7f7, #0052d4);
	.contact {
		.form-info {
			color: $lsc;
		}
		.links-info {
			color: $lsc;
		}
	}
	// .footer-logo {
	//     // .logo-text {
	//     //     color: $lhtc;
	//     // }
	// }
	.date {
		background: white;
		color: $lsc;
	}
}
