.v4-contact {
	display: flex;
	flex-direction: column;
	.v4-contact-container {
		margin: 30px 0;
		// height: 60vh;
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	h2 {
		font-size: 2.2rem;
		margin-top: 30px;
	}
	p {
		color: blue;
		font-size: 1.5rem;
		@media screen and (min-width: 500px) {
			font-size: 1.1rem;
		}
	}
	.form-container {
		input,
		textarea {
			border: 0;
			font-size: 1rem;
			// padding: 9px 10px;
			color: blue;
		}
	}
	.contact-bar {
		// width: 300px;
		height: 5px;
		background: none;
		@media (min-width: 767px) {
			// margin-top: 50px;
			height: 280px;
			width: 5px;
		}
	}

	.links {
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: space-evenly;
		// width: 250px;
		height: 250px;

		.icon-container {
			width: 90px;
			height: 90px;
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				img {
					width: 45px;
					height: 25px;
				}
			}
		}
		// @media screen and (min-width: 768px) {

		// }
	}
	.date {
		font-size: 1rem;
		display: grid;
		place-content: center;
		margin-bottom: 20px;

		span {
			font-size: 1.3rem;
			font-weight: 600;
		}
		#c {
			color: rgb(1, 1, 56);
			display: inline-block;
			transform: scale(-1, 1);
			margin-right: 10px;
		}
	}
}
