.v4-navbar {
	width: 100% !important;
	border-radius: 0px !important;
	display: flex;
	justify-content: center;
	z-index: 99999;

	.v4-nav-container {
		background: inherit;
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
		@media only screen and (min-width: 920px) {
			justify-content: space-between;
		}
	}
	.rotate-up {
		transition: all 0.3s;
		transform: rotate(180deg);
	}
	.rotate-down {
		transition: all 0.3s;
	}
	h1 {
		font-size: 1.8rem;
		font-weight: 100;
		text-transform: uppercase;
		font-family: 'RussoOne';
		letter-spacing: 0.8rem;
		margin-left: 10px;
		word-wrap: break-word !important;
		padding: 0.3em 0;
		@media only screen and (min-width: 400px) {
			font-size: 2.3rem;
			padding: 0.2em 0;
		}
	}

	// theme change button styles
	.v4-theme-change {
		position: fixed;
		top: 13%;
		right: 6%;
		z-index: 9;
		@media only screen and (min-width: 920px) {
			position: static;
		}
		._3lLt8 {
			font-size: 1.3em;
		}
	}
	#theme-scrolling {
		position: fixed;
		top: 4%;
		right: 6%;
		@media only screen and (min-width: 920px) {
			top: 5.5%;
		}
	}

	// style change button styles
	.style-change {
		position: fixed;
		top: 20%;
		right: 6%;
		z-index: 9;
		@media only screen and (min-width: 920px) {
			position: relative;
			top: 0;
			right: 0;
		}
		.style-change-menu {
			cursor: default;
			position: absolute;
			top: 0px;
			left: -210px;
			text-transform: capitalize;
			text-align: left;
			@media only screen and (min-width: 920px) {
				top: 55px;
				left: -40px;
			}
		}
		ul {
			list-style: none;
			padding: 10px 0;
			li {
				cursor: pointer;
				padding: 10px 15px;
				a {
					text-decoration: none;
				}
			}
			.first-draft {
				color: gray;
			}
		}
	}
	.style-scrolling {
		position: fixed;
		top: 11%;
		right: 6%;
		@media only screen and (min-width: 920px) {
			top: 12%;
		}
		._3lLt8 {
			font-size: 16px;
		}
		.style-change-menu {
			cursor: default;
			position: absolute;
			top: 0px;
			left: -210px;
			text-transform: capitalize;
			text-align: left;
		}
		ul {
			list-style: none;
			padding: 10px 0;
			li {
				cursor: pointer;
				padding: 10px 15px;
				a {
					text-decoration: none;
				}
			}
			.first-draft {
				color: gray;
			}
		}
	}
}
