// Contact + footer
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	h2 {
		margin-top: 30px;
	}
	p {
		font-size: 1.2rem;
		text-align: center;
		font-family: 'Iceland';
		margin-bottom: 10px;
		@media (min-width: 767px) {
			font-size: 0.9rem;
		}
	}
	.contact-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
		margin: 35px 0;
		@media (max-width: 350px) {
			div {
				width: 100%;
			}
		}
		@media (min-width: 767px) {
			max-width: 1024px;
			margin: 35px 0;
			flex-direction: row;
		}
	}

	.form-container {
		// border: 1px solid white;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		max-width: 300px;
		// margin-top: 30px;
		@media (min-width: 350px) {
			width: 300px;
		}
	}

	form {
		width: 100%;
		max-width: 300px;
		height: 234px;
		font-family: 'Iceland';
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		input {
			font-family: 'Iceland';
			color: blue;
			font-size: 1em;
			border-radius: 5px;
			padding: 7px 10px;
			border: 2px solid rgb(120, 120, 248);
			outline: none;
			&:focus {
				box-shadow: 0px 0px 6px 0px rgba(253, 0, 0, 0.95);
				border: 2px solid rgb(210, 209, 248);
			}
		}
		textarea {
			font-size: 1rem;
			font-family: 'Iceland';
			height: 80px;
			resize: none;
			border-radius: 5px;
			padding: 10px 0 0 10px;
			color: blue;
			border: 2px solid rgb(120, 120, 248);
			outline: none;
			&:focus {
				box-shadow: 0px 0px 6px 0px rgba(253, 0, 0, 0.95);
				border: 2px solid rgb(210, 209, 248);
			}
		}
		.btn {
			font-size: 1rem;
			font-family: 'Iceland';
			font-weight: 600;
			background: rgb(0, 191, 255);
			color: navy;
			padding: 5px 0;
			border-radius: 5px;
			border: none;
			cursor: pointer;
			&:hover {
				color: white;
				background: navy;
			}
			&:focus {
				color: red;
			}
			&:disabled {
				background: rgb(51, 171, 211);
				color: rgb(66, 66, 66);
				cursor: default;
			}
		}
		#afterSubmit {
			text-align: center;
			font-size: 1em;
			color: navy;
			padding: 5px;
			border-radius: 5px;
			width: 100%;
			margin: 0;
		}
	}
	.contact-bar {
		height: 3px;
		// width: 320px;
		width: 100%;
		max-width: 310px;
		margin: 25px 0;
		background-color: rgb(110, 131, 236);
		@media (min-width: 350px) {
			width: 310px;
		}

		@media (min-width: 767px) {
			margin-bottom: 0;
			height: 280px;
			width: 3px;
		}
	}
	.links-container {
		// border: 1px solid white;
		width: 100%;
		max-width: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		@media (min-width: 350px) {
			width: 300px;
		}
	}

	.links {
		width: 100%;
		height: 234px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		a {
			background: rgba(18, 72, 92, 0.38);
			height: 40px;
			width: 100%;
			color: white;
			font-size: 1.2rem;
			font-weight: 500;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			border-radius: 0.25em;
			font-family: 'Iceland';
			text-decoration: none;
			@media (min-width: 767px) {
				font-size: 1rem;
			}
			&:hover {
				text-decoration: none;
				background: rgba(18, 72, 92, 1);
			}

			img {
				width: 50px;
				height: 30px;
				margin: 0 10px;
				@media (min-width: 350px) {
					margin: 0 25px;
				}
			}
		}
	}
}

footer {
	.footer-logo {
		width: 80px;
		height: 80px;
		border-top: 5px solid navy;
		border-left: 5px solid navy;
		border-right: 5px solid lightblue;
		border-bottom: 5px solid lightblue;
		margin-top: 0;
		margin: 10px 0;
		.logo-text {
			margin-bottom: 20px;
			margin-left: 10px;
			color: white;
			font-size: 20px;
			text-shadow: 0 0 3px blue;
		}
	}
	.bottom {
		min-width: 100px !important;
		font-size: 10px !important;
	}
	.date {
		display: flex;
		// align-items: center;
		justify-content: center;
		padding-bottom: 20px;
		font-family: 'Quantum';
		width: 100%;
		p {
			margin: 0 5px;
			span {
				display: inline-block;
				transform: scale(-1, 1);
			}
		}
	}
}

