* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/* fluid font-size */
html {
	font-size: 14px;
	font-family: 'Iceland';
}
@media screen and (min-width: 300px) {
	html {
		font-size: calc(14px + 6 * ((100vw - 300px) / 700));
	}
}
@media screen and (min-width: 1000px) {
	html {
		font-size: 20px;
	}
}
/* responsive font-size */
/* html {
  font-size: 90%;
  transition: font-size 0.2s linear;
  font-family: "Iceland";
  
  @media (min-width: 500px) and (max-width: 792px) {
    font-size: 110%;
  }
  @media (min-width: 793px) and (max-width:992px) {
    font-size: 125%;
  }
  @media (min-width: 993px) and (max-width: 1499px) {
    font-size: 500% !important;
  }
  @media (min-width: 1500px) {
    font-size: 160%;
  }
  
} */

@font-face {
	font-family: 'Iceland';
	src: url('../public/assets/fonts/Iceland-Regular.ttf');
  // to avoid invisible text on load
	font-display: swap;
}
@font-face {
	font-family: 'RussoOne';
	src: url('../public/assets/fonts/RussoOne-Regular.ttf');
	font-display: swap;
}
@font-face {
	font-family: 'Quantum';
	src: url('../public/assets/fonts/Quantum.otf');
	font-display: swap;
}
@font-face {
	font-family: 'Anurati';
	src: url('../public/assets/fonts/Anurati-Regular.otf');
	font-display: swap;
}

@font-face {
	font-family: 'Gone';
	src: url('../public/assets/fonts/Youre-Gone.ttf');
	font-display: swap;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*:before,
*:after {
	box-sizing: border-box;
}
*:focus {
	outline: 0;
	outline: none;
}
