.container {
	height: 100vh;
	width: 100%;
	background: rgb(42, 93, 134);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	overflow: hidden;
	@media screen and (min-width: 820px) {
		flex-direction: column;
		justify-content: center;
	}
}
.title {
	display: flex;
	justify-content: space-evenly;
	// align-items: center;
	// width: 10%;
	height: 70%;
	text-transform: uppercase;
	writing-mode: vertical-lr;
	text-orientation: upright;
	margin-top: 35px;
	@media screen and (min-width: 500px) {
		margin-top: 100px;
	}
	@media screen and (min-width: 820px) {
		width: 60%;
		height: 7%;
		min-width: 750px;
		writing-mode: horizontal-tb;
		text-orientation: none;
		margin: 0 0 70px 50px;

		letter-spacing: 5px;
	}
	.choose {
		color: black;
		font-family: 'Iceland';
		text-transform: uppercase;
		text-shadow: 0px 0px 3px rgb(8, 0, 255);
		font-weight: 700px;
		font-size: 1.6rem;
		@media screen and (min-width: 820px) {
			font-size: 2.5rem;
		}
	}
	.your {
		font-family: 'Quantum';
		background: -webkit-linear-gradient(-90deg, #000000, #10047e);
		background-clip: text;
		color: transparent;
		font-size: 1.3rem;
		letter-spacing: 10px;

		@media (min-width: 820px) {
			letter-spacing: 5px;
			font-size: 1.9rem;
			background-clip: text !important;
			background: -webkit-linear-gradient(0deg, #000000, #10047e);
		}
	}
	.style {
		padding: 0 3px;
		font-family: 'Anurati';
		color: transparent;
		background-clip: text;
		background-color: #000000;
		text-shadow: 1px 1px 5px rgba(90, 27, 172, 0.747);
		font-size: 1.3rem;
		@media screen and (min-width: 820px) {
			font-size: 1.8rem;
		}
	}
}
.accordion {
	height: 70vh;
	max-height: 750px;
	width: 70%;
	background: transparent;
	display: flex;
	justify-content: center;
	flex-direction: column;
	@media screen and (min-width: 820px) {
		flex-direction: row;
		width: 60%;
		height: 50vh;
		max-height: 50vh;
		// margin-right: 50px;
		min-width: 750px;
	}

	.section {
		width: 100%;
		height: 30%;
		box-shadow: 0px 0px 12px 0 black;
		display: grid;
		place-content: center;
		transition: width 0.5s ease-out, filter 0.5s ease, height 0.5s ease-out;
		transform: skew(-10deg, -10deg);
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		z-index: 1;
		filter: grayscale(100%);
		position: relative;
		@media screen and (min-width: 500px) {
			height: 33%;
		}
		@media screen and (min-width: 820px) {
			width: 33.33%;
			height: 100%;
			max-height: 100%;
			background-position: center;
		}
		&:hover {
			height: 70%;
			z-index: 9;
			filter: grayscale(0%) contrast(105%);
			@media screen and (min-width: 820px) {
				width: 100%;
				height: 100%;
			}
			a {
				display: block;
			}
			&:before {
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				top: 0;
				z-index: 10;
				// background: rgba(59, 53, 53, 0.349);
				text-shadow: 2px 2px 7px blue;
			}
		}
		a {
			transform: skew(10deg, 10deg);
			display: none;
			z-index: 11;
			font-size: 1.7rem;
			font-family: 'Gone';
			color: transparent;
			background-clip: text;
			background-color: #000000;
			text-shadow: 1px -2px 3px rgb(255, 255, 255);
			&:hover {
				background-color: #ffffff;
				text-shadow: 2px 2px 3px rgb(0, 0, 0);
			}
			@media screen and (min-width: 820px) {
				font-size: 2.5rem;
			}
		}
	}
	.glassmorphism {
		// clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
		background-image: url('../public/assets/glassmorphism.webp');
	}
	.waves {
		background-image: url('../public/assets/waves_about.webp');
		// clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
		margin: -30px 0;
		@media screen and (min-width: 820px) {
			margin: 0 -50px;
		}
	}
	.neumorphism {
		background-image: url('../public/assets/neumorphism.webp');
		// clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
	}
	.type {
		text-decoration: none;
		font-size: 1.3rem;
	}
}
